@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap');

body {
    /* fuente que usare en toda la pagina */
    font-family: 'Sofia Sans', sans-serif;
}

.html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */

.title {
    color: #FB6F92;
    font-weight: bolder;
    background-color: #FFE5EC;
    border: solid 2px #FFC2D1;
}

.explorelFont {
    color: black;
    font-weight: bolder;
    margin-left: 1rem;
}

/* MAIN INDEX */

.imgCarousel {
    grid-area: ic;
    padding: .5rem;
}

.img1 {
    grid-area: i1;
    padding-top: .5rem;
    padding-left: 0.5rem;
}

.img2 {
    grid-area: i2;
    padding-top: .5rem;
    padding-right: .5rem;
}

.img3 {
    grid-area: i3;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.img4 {
    grid-area: i4;
    padding-right: 0.5rem;
    padding-bottom: .5rem;
}

@media (min-width:350px) {
    .mainIndex{
        display: grid;
        grid-template-areas: 
        "ic ic"
        "i1 i2"
        "i3 i4";
    }
}

@media (min-width:768px) {
    .mainIndex {
        display: grid;
        grid-template-areas: 
        " ic ic i1 "
        " ic ic i3 "
        ;
    }
    .img4 {
        display: none;
    }
    .img2 {
        display: none;
    }
}

@media (min-width:991px) {
    .mainIndex {
        display: grid;
        grid-template-areas:
            " ic ic i1 i2 "
            " ic ic i3 i4 "
            ;
    }
    .img4 {
        display: block;
    }
    .img2 {
        display: block;
    }
}

/* MAIN PRODUCTOS */
.mainProd {

    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding-left: 30px
}

.mainProd h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.mainProd div {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.mainProd h4 {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

/* MAIN QUIENES SOMOS */

.mainQuiSom {
    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding: 0px 15px 0px 15px;
}

.mainQuiSom h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.mainQuiSom p {
    padding: 0px 15px 0px 15px;
    text-align: justify;
    font-weight: bolder;
}

/* MAIN CONTACTO */

.mainContacto {
    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding: 0px 15px 0px 15px;
}

.mainContacto h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
}

.mainContacto div {
    display: inline-block;
    padding: 0px 20px 30px 20px;
    align-items: center;
    bottom: 76px;
    position: relative;
}

.mainContacto form {
    display: inline-block;
    padding: 0px 50px 30px 50px;
}

.mainContacto h4 {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.mainContacto label {
    font-weight: bolder;
}

.nombreSolicitud {
    margin: 0px 25px 0px 0px;
}

.apellidoSolicitud {
    margin: 0px 27px 0px 0px;
}

.mailSolicitud {
    margin: 0px 53px 0px 0px;
}

/* MAIN PREGUNTAS FRECUENTES */

.mainPrFr {
    display: inline-block;
    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding-left: 30px;
}

.mainPrFr h3 {
    font-weight: bolder;
    text-align: left;
    font-size: xx-large;
}

.mainPrFr h4 {
    padding-left: 15px;
    font-weight: bolder;
    color: black;
    font-size: larger;
    font-style: oblique;
    text-decoration: underline;
}

.mainPrFr p {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    color: black;
}

/* FOOTER */

footer {
    border: 2px solid #D8E2DC;
    background-color: #FFE5D9;
    position: relative;
    /* no encontre una mejor manera de organizar los textos txt1 y txt2 para que esten al costado */
    padding-left: 30px;
}

.footerTitle {
    grid-area: ft;
}

.linkFb {
    grid-area: fb;
}

.linkIg {
    grid-area: ig;
}

.linkWp {
    grid-area: wp;
}

.txt1 {
    grid-area: t1;
}

.txt2 {
    grid-area: t2;
}

@media (min-width:991px) {
    .footer {
        display: grid;
        grid-template-areas: 
        "ft ft ft ft ft"
        "fb fb fb fb t1"
        "ig ig ig ig t1"
        "wp wp wp wp t2";
    }
}

/* loguito flotante de wp */

.logoWp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

