@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap');

body {
    font-family: 'Sofia Sans', sans-serif;
}

/* fuente que usare en toda la pagina */

/* HEADER */


header h1 {
    display: inline-block;
}

h1 {
    color: #f4acb7;
    font-weight: bolder;
    position: absolute;
    left: 180px;
    top: 40px;
}

.logo {
    position: relative;
    right: 0px;
}

header ul li {
    display: inline-block;
    margin: 30px;
}

.mainLinks {
    border: 2px solid #9D8189;
    background-color: #F4ACB7;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN INDEX */

.mainIndex {
    display: block;
}

.destacadosMain {
    color: black;
    font-weight: bold;
    background-color: #D8E2DC;
    border: #FFE5D9 solid 2px;
    text-align: center;

}

/* MAIN PRODUCTOS */
.mainProd {

    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding-left: 30px
}

.mainProd h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.mainProd div {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.mainProd h4 {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

/* MAIN QUIENES SOMOS */

.mainQuiSom {
    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding: 0px 15px 0px 15px;
}

.mainQuiSom h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.mainQuiSom p {
    padding: 0px 15px 0px 15px;
    text-align: justify;
    font-weight: bolder;
}

/* MAIN CONTACTO */

.mainContacto {
    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding: 0px 15px 0px 15px;
}

.mainContacto h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
}

.mainContacto div {
    display: inline-block;
    padding: 0px 20px 30px 20px;
    align-items: center;
    bottom: 76px;
    position: relative;
}

.mainContacto form {
    display: inline-block;
    padding: 0px 50px 30px 50px;
}

.mainContacto h4 {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.mainContacto label {
    font-weight: bolder;
}

.nombreSolicitud {
    margin: 0px 25px 0px 0px;
}

.apellidoSolicitud {
    margin: 0px 27px 0px 0px;
}

.mailSolicitud {
    margin: 0px 53px 0px 0px;
}

/* MAIN PREGUNTAS FRECUENTES */

.mainPrFr {
    display: inline-block;
    border: #F4ACB7 solid 2px;
    background-color: #FFCAD4;
    padding-left: 30px;
}

.mainPrFr h3 {
    font-weight: bolder;
    text-align: left;
    font-size: xx-large;
}

.mainPrFr h4 {
    padding-left: 15px;
    font-weight: bolder;
    color: black;
    font-size: larger;
    font-style: oblique;
    text-decoration: underline;
}

.mainPrFr p {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    color: black;
}

/* FOOTER */

footer {
    border: 2px solid #D8E2DC;
    background-color: #FFE5D9;
    position: relative;
    /* no encontre una mejor manera de organizar los textos txt1 y txt2 para que esten al costado */
    padding-left: 30px;
}

footer ul li {
    display: block;
    margin: 10px;
    text-align: left;
}

footer nav {
    display: inline-block;
}

footer h4 {
    display: inline-block;
}

.txt1 {
    position: absolute;
    right: 30px;
    bottom: 55px;
}

.txt2 {
    position: absolute;
    right: 30px;
    bottom: 35px;
}

/* loguito flotante de wp */

.logoWp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}