$color_1: black;
$color_2: #fb6f92;
$color_3: #f5537b;
$font-family_1: 'Londrina Solid', cursive;
$background-color_1: #FFC2D1;
$background-color_2: #FFB3C6;
$background-color_3: #F4ACB7;
$background-color_4: #FFE5EC;
$background-color_5: #fb6f92;
$background-color_6: transparent;
$background-color_7: coral;
$border-color_1: #fb6f92;
$border-color_2: black;
$fw: 400;
$fw2: 900;